<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" ></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-card id="registro"> 
    <div class="imagen_forgot"> 
      <img src="../../assets/img/recupera.png" alt="forgot"  class="imagen_responsiva">
   </div>

      <form>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="light" expand="block" shape="round">Enviar</ion-button>
          </ion-col>           
        </ion-row>
        <small>
          Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó al registrarse
        </small>
        <ion-row>
          <ion-col>  
            <ion-button [routerLink]="['/home']" id type="submit" color="light" shape="round">volver</ion-button>
          </ion-col>
      </ion-row>
        
      </form>
  </ion-card>
  </ion-content>

<ion-footer>
  <ion-toolbar color ="dark">
    <ion-title>conoce nuestras redes</ion-title>
  </ion-toolbar>
</ion-footer>